<br>
<br>
<br>
<form action="/action.php?action=add" method="post">
    <div class="form-group">

        <label for="tag">Tag</label>
        <input type="text" class="form-control" name='tag'  id="tag" />

        <label for="title">Title</label>
        <input type="text" class="form-control" name='title'  id="title" />
        <label for="link">Link</label>
        <input type="text" class="form-control" name='link'  id="link"/>
        <label for="content">Content</label>
        <input type="text" class="form-control" name='content'  id="content"/>
        <input type="text" class="form-control" name="tags" id="tags" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>