<br>
<br>
<br>
<form action="/action.php?action=edit" method="post">
    <div class="form-group">
        <input type="hidden" name="id" value="{{id}}"/>

        <label for="tag">Tag</label>
        <input type="text" class="form-control" name='tag'  id="tag" />

        <label for="title">Title</label>
        <input type="text" class="form-control" name='title' value="{name}" id="title" />
        <label for="link">Link</label>
        <input type="text" class="form-control" name='link' value="{link}" id="link"/>
        <label for="content">Content</label>
        <input type="text" class="form-control" name='content' value="{content}" id="content"/>
        {tags}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>