<div class="col-md-4">
    <div class="card mb-4 shadow-sm">
        <iframe width="350" height="225" src="{link}" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <div class="card-body" style="min-height: 180px">
            <h4>{tag}</h4>
            <h5>{title}</h5>
            <p class="card-text">{content}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{link}"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button> </a>
                    {%%edit_button%%}
                    {%%remove_button%%}
                </div>
            </div>
        </div>
    </div>
</div>