<li class="dropdown order-1">
    <form class="form-inline" method="post" action="action.php?action=login">
        <input type="text"  name="username" placeholder="Username" class="form-control header-form-control" />
        <input type="password" name="password" placeholder="Password" class="form-control header-form-control" />
        <input type="submit" class="btn btn-primary header-form-control" value="Login"/>
    </form>
</li>